@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*{
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    padding: 0;
    margin: 0;

}
.title{
    background-color: #f7d97c;
    height: 125px;
}
body{
    background-color: white;
    padding-top: 60px;
}
h1{
    text-align: center;
}
h2{
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 2%;
    margin-bottom: 70px;
    width: fit-content;
    text-align: center;
    box-shadow: 1px 1px 4px 1px rgb(145, 145, 145);
}
.treee{
    margin: auto;
    display: flex;
    height: 500px;
}
.layerone{
    border-top: 1px solid rgb(182, 182, 182);
    margin-top: 20px;
    padding-top: 100px;
    padding: 50px;
    background-color:rgb(255, 236, 246);
}
h3{
    text-align: center;
}
li{
    list-style:none;
    display: flex;
}
ul{
    width: 33%;
}
ul h2 img{
    height: 200px;
}
